*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --black: #000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#video{
    width: 650px;
    height: 450px;
    /* background-color: aqua; */
    border: solid var(--black) 4px;
    border-radius: 20px;
}